# Build out of tree or binaries will clutter you up.

# Temporaries and backups from emacs
*~
\#*
.\#*

# Temporary vim files
*.swp
*.tmp

# Results and build directories
results

# Autotools things
autom4te.cache

# Stamp file created as part of the
# documentation process.
doc/stamp-vti

# Build / configure outputs
Makefile
*.o
.deps
config.h
config.log
config.status
dejagnu/site.exp
libtool
stamp-h1

# Executables
src/2dfir/2dfir
src/adpcm/adpcm
src/aha-compress/aha-compress
src/aha-mont64/aha-mont64
src/blowfish/blowfish
src/bs/bs
src/bubblesort/bubblesort
src/cnt/cnt
src/compress/compress
src/cover/cover
src/crc/crc
src/crc32/crc32
src/ctl-stack/ctl-stack
src/ctl-string/ctl-string
src/ctl-vector/ctl-vector
src/cubic/cubic
src/dhrystone/dhrystone
src/dijkstra/dijkstra
src/dtoa/dtoa
src/duff/duff
src/edn/edn
src/expint/expint
src/fac/fac
src/fasta/fasta
src/fdct/fdct
src/fft/fft
src/fibcall/fibcall
src/fir/fir
src/frac/frac
src/huffbench/huffbench
src/insertsort/insertsort
src/janne_complex/janne_complex
src/jfdctint/jfdctint
src/lcdnum/lcdnum
src/levenshtein/levenshtein
src/lms/lms
src/ludcmp/ludcmp
src/matmult-float/matmult-float
src/matmult-int/matmult-int
src/mergesort/mergesort
src/miniz/miniz
src/minver/minver
src/nbody/nbody
src/ndes/ndes
src/nettle-arcfour/nettle-arcfour
src/nettle-cast128/nettle-cast128
src/nettle-des/nettle-des
src/nettle-md5/nettle-md5
src/newlib-exp/newlib-exp
src/newlib-log/newlib-log
src/newlib-mod/newlib-mod
src/newlib-sqrt/newlib-sqrt
src/ns/ns
src/nsichneu/nsichneu
src/picojpeg/picojpeg
src/prime/prime
src/qrduino/qrduino
src/qsort/qsort
src/qurt/qurt
src/recursion/recursion
src/rijndael/rijndael
src/select/select
src/sglib-arraybinsearch/sglib-arraybinsearch
src/sglib-arrayheapsort/sglib-arrayheapsort
src/sglib-arrayquicksort/sglib-arrayquicksort
src/sglib-dllist/sglib-dllist
src/sglib-hashtable/sglib-hashtable
src/sglib-listinsertsort/sglib-listinsertsort
src/sglib-listsort/sglib-listsort
src/sglib-queue/sglib-queue
src/sglib-rbtree/sglib-rbtree
src/sha/sha
src/slre/slre
src/sqrt/sqrt
src/st/st
src/statemate/statemate
src/stb_perlin/stb_perlin
src/stringsearch1/stringsearch1
src/strstr/strstr
src/tarai/tarai
src/template/template
src/trio-snprintf/trio-snprintf
src/trio-sscanf/trio-sscanf
src/ud/ud
src/whetstone/whetstone
src/wikisort/wikisort
